*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inicio {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 15px;
}

tr {
    border-bottom: 1px solid #ffffff;
    padding: 1%;
}

td {
    padding: 1%;
    border-bottom: 1px solid #ffffff;
    width: auto;
}



select,
option {
    padding: 10px;
    padding-right: 10px;
    background-color: rgba(63, 63, 63, 0.5);
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #ffffff;
    outline: none;
    width: 100%;
}

select,
option::placeholder {
    color: #ffffff;
}

option,
:focus {
    border-color: #007bff;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    transition: 0.2s;
}


.input-style {
    padding: 10px;
    background-color: rgba(63, 63, 63, 0.5);
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #ffffff;
    outline: none;
    width: auto;
}

.input-style::placeholder {
    color: #bebebe;
}

.input-style:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    transition: 0.2s;
}

.container-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 30px;
}

.consultar-req{
    height: 60vh;
    overflow-x: scroll;
}

.consultar-req, table{
    width: 70vw;
}


.button1 {
    background: #1fbefbed;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 15px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    justify-content: center;
    width: auto;
}

.button1:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}

.button1:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}

h1{
    font-size: 40px;
    text-shadow: 3px 3px 5px black, 5px 5px 10px rgb(49, 49, 49);
}

.container-req{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0,0.5);
    filter: blur(0px);
    padding: 20px;
    border: 1.7px solid white;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: auto;
}

.inicio-req{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
    height: 93vh;
}

.cont-form{
    width: 100%;
    height: auto;
    padding: 20px;
    border-bottom: 1.7px solid white;
    margin-bottom: 70px;
}