<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/sirs.jpg">
    <script src="https://kit.fontawesome.com/25eed41d7b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/src/styles/estilos.css">
    <link rel="stylesheet" href="/src/styles/check.css">

    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.5/css/dataTables.tailwindcss.css">
    <title>Check</title>
</head>

<body>

    <header>
        <a href="{{ url_for('index') }}" class="logo"><img src="/static/img/sirs.jpg" width="60px"></a>

        <ul class="navbar">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('sobre_nosotros') }}">Sobre Nosotros</a></li>
            <li><a href="{{ url_for('modulos') }}" class="active">Gestion de Proyectos</a></li>
            <li><a href="{{ url_for('opiniones') }}">Opiniones</a></li>
            <li><a href="{{ url_for('perfil') }}">Perfil</a></li>
        </ul>

        <div class="main">
            <a href="{{ url_for('logout') }}" class="user"><i class="fa-solid fa-user"></i>{% if log %} {{log}} Sesion
                {%
                endif %}</a>
            <div class="bx bx-menu" id="menu-icon"><i class="fa-solid fa-bars"></i></div>
        </div>
    </header>

    <script type="module" src="https://unpkg.com/@splinetool/viewer@1.3.8/build/spline-viewer.js"></script>
    <spline-viewer url="https://prod.spline.design/oP1Rx8Le7K9noHAa/scene.splinecode"></spline-viewer>

    {% for data2 in data2 %}

    <h1 class="text-5xl mt-32">{{ data2['nombre'] }}</h1>
    <h4>{{ data2['tipo'] }}</h4>

    {% endfor %}

    <h3 class="text-4xl">Checklist de Documentación</h3>

    <section>

        <table id="myTable" class="display bg-[#000]" style="max-width:50vw; overflow: auto;">
            <thead>
                <tr>
                    <th>Check</th>
                    <th>Documetación</th>
                    <th>Descripción</th>
                    <th>Progreso</th>
                    <th>Archivo</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>

                {% for data in data %}

                <tr class="info">
                    <td>
                        <div class="inline-flex items-center">
                            <label class="flex items-center cursor-pointer relative">
                                <input type="checkbox" 
                                    class="peer h-5 w-5 cursor-pointer transition-all appearance-none rounded shadow hover:shadow-md border border-slate-300 checked:bg-blue-600 checked:border-blue-600"
                                    id="check1" {% if data['aprobacion'] == 1 %} checked {% endif %} disabled >
                                <span
                                    class="absolute text-white opacity-0 peer-checked:opacity-100 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20"
                                        fill="currentColor" stroke="currentColor" stroke-width="1">
                                        <path fill-rule="evenodd"
                                            d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </span>
                            </label>
                        </div>
                    </td>
                    <td>{{ data['nombre'] }}</td>
                    <td>{{ data['descripcion'] }}</td>
                    <td>
                        <div class="flex justify-between mb-1">
                            <span class="text-sm font-medium text-blue-700 dark:text-white">{{ data['progreso']
                                }}%</span>
                        </div>
                        <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
                            <div class="bg-blue-600 h-2.5 rounded-full" style="width: {{ data['progreso']}}%"></div>
                        </div>
                    </td>
                    <td><button
                            class="preview-button bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-md"
                            data-id="{{ url_for('static', filename='documentos/' ~  data['archivo']) }}"
                            data-filename="{{ data['nombre'] }}">Ver</button>
                        <button
                            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-md">Editar</button>
                    </td>
                    <td>{{ data['fecha'] }}</td>
                </tr>

                {% endfor %}
            </tbody>
        </table>

        <div id="preview-container"
            style="border: 1px solid #ccc; padding: 20px 0 0 0; margin-top: 20px; width: 95%; margin: auto;">
            <h1 id="preview-title">Selecciona un documento para visualizar</h1>
            <iframe id="preview-frame" style="width: 98%; height: 900px; border: none; margin: auto;"></iframe>
        </div>

    </section>



    <!--Enalaces de scripts-->

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.tailwindcss.com/"></script>
    <script src="https://cdn.datatables.net/2.1.5/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.1.5/js/dataTables.tailwindcss.js"></script>
    <script src="https://cdn.tailwindcss.com/"></script>
    <script src="/static/js/bar.js"></script>
    <script src="/static/js/dataTable.js"></script>

    <script>
        document.querySelectorAll('.preview-button').forEach(button => {
            button.addEventListener('click', function () {
                const filePath = this.getAttribute('data-id');
                const fileName = this.getAttribute('data-filename');

                // Cambiar el título del contenedor al nombre del archivo
                const previewTitle = document.getElementById('preview-title');
                previewTitle.textContent = `Vista: ${fileName}`; // Actualizar el título

                // Mostrar el archivo en el iframe
                const previewFrame = document.getElementById('preview-frame');
                previewFrame.src = filePath; // Asignar la ruta del archivo al iframe
            });
        });
    </script>

</body>

</html>