<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<link rel="shortcut icon" href="/src/assets/sirs.jpg">
	<link rel="stylesheet" href="/src/styles/registro.css">
	<title>Login(SAGS)</title>
</head>

<body>
	<script type="module" src="https://unpkg.com/@splinetool/viewer@1.4.4/build/spline-viewer.js"></script>
	<spline-viewer url="https://prod.spline.design/rqyOgotND7rd5BIN/scene.splinecode"></spline-viewer>

	{% if message %}
	<script style=" position: fixed;">
		swal.fire({
			title: "ACCESO DENEGADO",
			text: "{{message}}",
			icon: "error",
			buttons: false,
			timer: 2000,
			showConfirmButton: false,
			background: "#fff",
			toast: true,
			position: "top"
		});
	</script>
	{% endif %}

	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul>
		{% for message in messages %}
		{% if message %}
		<script style=" position: fixed; z-index: 1000;">
			swal.fire({
				text: "{{ message }}",
				icon: "info",
				buttons: false,
				timer: 2000,
				showConfirmButton: false,
				background: "#fff",
				toast: true,
				position: "top"
			});
		</script>
		{% endif %}
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}

	<div class="container" id="container">
		<div class="form-container sign-up-container">
			<form action="adduser" method="POST" onsubmit="return validatePassword()">
				<h1>Crear Cuenta</h1>
				<span>Ingresa tus datos para registrarte</span>
				<select class="input" name="tipo">
					<option selected disabled>Seleccionar</option>
					<option value="C.C." aria-required="true">C.C.</option>
					<option value="T.I." aria-required="true">T.I.</option>
				</select>
				<input type="number" name="documento" placeholder="Documento" required>
				<input type="email" name="correo" placeholder="Email@" required>
				<input type="password" id="password" name="clave" placeholder="Password" required minlength="8">

				<button>Registrar</button>
			</form>
		</div>
		<div class="form-container sign-in-container">
			<form action="acceso_login" method="POST">
				<h1>Iniciar Sesion</h1>
				<span>Ingrese Usuario y contraseña</span>
				<input type="email" name="correo" placeholder="Email@">
				<input type="password" name="clave" placeholder="Password">
				<a href="{{ url_for('recovery_email') }}">¿Olvido Su Contraseña?</a>

				<button type="submit">Ingresar</button>

			</form>
		</div>

		<div class="overlay-container">
			<div class="overlay">

				<div class="overlay-panel overlay-left">
					<h1>¡Bienvenivo De Nuevo!</h1>
					<p>inicia con tus datos personales o con los de tu empresa</p>
					<button class="ghost" id="signIn">Iniciar Sesion</button>
				</div>

				<div class="overlay-panel overlay-right">
					<h1>¡Hola Bienvenido a (SAGS)!</h1>
					<p>Para mantenerse en contacto con nosotros, registrate con tus datos personales o con los de tu
						empresa</p>
					<button class="ghost" id="signUp">Registrate</button>
				</div>

			</div>
		</div>
	</div>

	<script type="text/javascript">
		var signUpButton = document.getElementById('signUp');
		var signInButton = document.getElementById('signIn');
		var container = document.getElementById('container');

		signUpButton.addEventListener('click', () => {
			container.classList.add("right-panel-active");
		});

		signInButton.addEventListener('click', () => {
			container.classList.remove("right-panel-active");
		});


		function validatePassword() {
			const password = document.getElementById("password").value;
			const minLength = 8;
			const hasUpperCase = /[A-Z]/.test(password);
			const hasLowerCase = /[a-z]/.test(password);
			const hasNumbers = /\d/.test(password);
			const hasSpecialChar = /[!@#$%^&*]/.test(password);

			if (password.length < minLength || !hasUpperCase || !hasLowerCase || !hasNumbers || !hasSpecialChar) {
				swal.fire({
					text: "La contraseña debe tener al menos 8 caracteres, incluyendo mayúsculas, minúsculas, números y caracteres especiales.",
					icon: "error",
					buttons: false,
					timer: 4000,
					showConfirmButton: false,
					background: "#fff",
					toast: true,
					position: "top"
				});
				return false;
			}
			return true;
		}
	</script>

</html>