kiyh <!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/src/assets/img/sirs.jpg">
    <script src="https://kit.fontawesome.com/25eed41d7b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Foro de Opiniones</title>
    <link rel="stylesheet" href="/src/styles/foro.css">
    <link rel="stylesheet" href="/src/styles/estilos.css">
</head>

<body>

    <header>
        <a href="{{ url_for('index') }}" class="logo"><img src="/src/assets/img/sirs.jpg" width="60px"></a>

        <ul class="navbar">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('sobre_nosotros') }}">Sobre Nosotros</a></li>
            <li><a href="{{ url_for('modulos') }}">Gestion de Proyectos</a></li>
            <li><a href="{{ url_for('opiniones') }}" class="active">Opiniones</a></li>
            <li><a href="{{ url_for('perfil') }}">Perfil</a></li>
        </ul>

        <div class="main">
            <a href="{{ url_for('logout') }}" class="user"><i class="fa-solid fa-user"></i>{% if log %} {{log}} Sesion
                {%endif %}</a>
            <div class="bx bx-menu" id="menu-icon"><i class="fa-solid fa-bars"></i></div>
        </div>
    </header>

    <script type="module" src="https://unpkg.com/@splinetool/viewer@1.3.8/build/spline-viewer.js"></script>
    <spline-viewer url="https://prod.spline.design/oP1Rx8Le7K9noHAa/scene.splinecode"></spline-viewer>

    <div id="opinions-list">
        <h2>Opiniones de Usuarios</h2>
        <p>Comparte tu experiencia con nuestra comunidad</p>
    </div>

    <!-- Botón para abrir el modal -->
    <center>
        <button id="openModal">Dejar una Opinión</button>
    </center>

    <!-- Modal de Opiniones -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Dejar una Opinión</h2>
            <form action="/submit-opinion" method="post">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required>

                <label for="rating">Tipo de Opinion:</label>
                <select id="rating" name="rating" required>
                    <option selected disabled>Seleccionar</option>
                    <option>Peticion</option>
                    <option>Queja</option>
                    <option>Sugerencia</option>

                </select>

                <label for="opinion">Opinión:</label>
                <textarea id="opinion" name="opinion" rows="4" required></textarea>

                <label for="rating">Calificación:</label>
                <select id="calificacion" name="calificacion" required>
                    <option value="5">5 - Excelente</option>
                    <option value="4">4 - Muy Bueno</option>
                    <option value="3">3 - Bueno</option>
                    <option value="2">2 - Regular</option>
                    <option value="1">1 - Malo</option>
                </select>
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>



    <!-- Lista de opiniones -->



    <div class="grid">

        {% for data in data %}

        <div class="opinion">
            <h3>{{ data['email' ]}}</h3>
            <p>{{ data['opinion' ]}}</p>
            <div class="rating">
                <input type="radio" id="star5" name="rating" value="5" />
                <label for="star5"></label>
                <input type="radio" id="star4" name="rating" value="4" />
                <label for="star4"></label>
                <input type="radio" id="star3" name="rating" value="3" />
                <label for="star3"></label>
                <input type="radio" id="star2" name="rating" value="2" />
                <label for="star2"></label>
                <input type="radio" id="star1" name="rating" value="1" />
                <label for="star1"></label>
            </div>
        </div>

        {% endfor %}
        <!-- Más opiniones se agregarán dinámicamente -->
    </div>


    <script src="/static/js/bar.js"></script>

    <script>
        // Abrir el modal al hacer clic en el botón
        document.getElementById('openModal').addEventListener('click', function () {
            document.getElementById('myModal').style.display = 'block';
        });

        // Cerrar el modal al hacer clic en la "X"
        document.getElementsByClassName('close')[0].addEventListener('click', function () {
            document.getElementById('myModal').style.display = 'none';
        });

        // Cerrar el modal al hacer clic fuera de él
        window.addEventListener('click', function (event) {
            if (event.target == document.getElementById('myModal')) {
                document.getElementById('myModal').style.display = 'none';
            }
        });

    </script>

</body>

</html>