<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/sirs.jpg">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="shortcut icon" href="sirs.jpg">
    <link rel="stylesheet" href="/src/styles/requisitos.css">
    <title>Restablecer Contraseña</title>
</head>

<body>
    <script type="module" src="https://unpkg.com/@splinetool/viewer@1.4.4/build/spline-viewer.js"></script>
    <spline-viewer url="https://prod.spline.design/rqyOgotND7rd5BIN/scene.splinecode"></spline-viewer>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <script style=" position: fixed; z-index: 1000;">
            swal.fire({
                title: "USUARIO NO ENCONTRADO",
                text: "{{ texto }}",
                icon: "info",
                buttons: false,
                timer: 2000,
                showConfirmButton: false,
                background: "#fff",
                toast: true,
                position: "top"
            });
        </script>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <div class="container">
        <div class="form-reset">
            <form action="/recuperar_contraseña" method="POST">
                <h1>Restablecer Contraseña</h1>
                <span>Ingrese su usuario</span>
                <input type="email" name="correo" placeholder="Email@">
                <br>
                <button type="submit">Restablecer</button>
                <br>
            </form>
        </div>
    </div>

</body>

</html>